/* ---------------
       generals      
------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--Orange: hsl(25, 97%, 53%);
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--DarkBlue2: hsl(217, 19%, 24%);
--VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
    position:relative;
    font-family: 'Overpass', sans-serif;
    background-color: var(--VeryDarkBlue);
    color: var(--LightGrey);
    Font-size: 15px;
}

/* -------------
Rating state start
--------------- */

.ratingstate {
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    background-color: var(--DarkBlue);
    border-radius: 15px;
}

.ratingstate > * {
    margin: 28px 20px;
}
    
.ratingstate h2 {
    color: var(--White)
}

.ratingstate ul {
    display:flex;
    justify-content: space-between;
    list-style: none;
}

.round-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
    background-color: var(--DarkBlue2);
    border-radius: 50%;
    cursor:pointer;
}

.hover:hover {
    background-color: var(--LightGrey);
    color: var(--White)
}

.hover:active{
    background-color: var(--Orange);
    color: var(--White);
}

.submit {
    width: calc(100% - 40px);
    border: none;
    padding: 10px;
    margin-top:0;
    color: var(--White);
    background-color: var(--Orange);
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing:.1rem;
    cursor:pointer;
}

/* --------------
      thanks 
---------------- */

.thankyoustage {
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    background-color: var(--DarkBlue);
    border-radius: 15px;
}

.thankyoustage > * {
    margin: 35px 20px;
    text-align: center;
}

.thankyoustage h2 {
    color: var(--White)
}

.select {
    padding: 7px;
    background-color: var(--DarkBlue2);
    color: var(--Orange);
    border-radius: 35px;
}

@media (min-width:375px) {
    .ratingstate, .thankyoustage {
        width: 450px;
        position:absolute;
        left:calc(50% - 225px);
        top: calc(50vh - 246px);
    }
}